doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body

    nav(class="navbar navbar-inverse navbar-fixed-top")
      div.container-fluid
        div.navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            a(class="navbar-brand", href="#") Project name

        div(id="navbar",  class="navbar-collapse collapse")
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="#") Dashboard
            li
              a(href="#") Settings
            li
              a(href="#") Profile
            li
              a(href="#") Help
            form(class="navbar-form navbar-right")
              input(type="text",class="form-control", placeholder="Search...")

    div.container-fluid
      div.row
        div(class="col-sm-3 col-md-2 sidebar")
          ul(class="nav nav-sidebar")
            li.active
              a(href="#") Overview
              span.sr-only (current)
            li
              a(href="#") Democrats
            li
              a(href="#") Republicans
            li
              a(href="#") Other

        div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
          h1.page-header Vote Here!

          h3 Who do you think will get the Democratic nomination?

          form(action="/users/vote", method="post")
            div.radio
              input(type="radio",name="candidate",id="optionsBernie",value="Bernie") 
              label
                Option Bernie
            div.radio
              input(type="radio",name="candidate",id="optionsHillary",value="Hillary") 
              label
                Option Hillary
            input(class="btn btn-default", type="submit", value="Submit")

          
          