extends layout

block content

      
  div.site-wrapper

      div.site-wrapper-inner

        div.cover-container


            div(class="masthead clearfix")
                div.inner
                    h3.masthead-brand Presidential Poll
                    nav
                    ul(class="nav masthead-nav")
                          li
                            a(href="#", id="login") Login
                          li 
                            a(href="#") Features
                          li 
                            a(href="#") Contact

            div(class="inner cover")
                h1.cover-heading Vote for the next President!
                p.lead Cast your vote
                p.lead
                  a(href="#", class="btn btn-lg btn-default") Learn more


            div.mastfoot
                div.inner
                    p Cover template for 
                      a(href="http://getbootstrap.com") Bootstrap
                      , by 
                      a(href="https://twitter.com/mdo") @mdo

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')          
  script(src='/javascripts/build/react.js')
  script(src='/javascripts/build/react-dom.js')
  script(src='/javascripts/build/main.js')
